html {
	box-sizing: border-box;
}
*, *:before, *;after {box-sizing: inherit;}

body {background:url("../images/bg.jpg") no-repeat;
	background-position: 5% 10%;}

#container {
	overflow:auto;
	width:620px;
	padding:10px;
	margin:auto;
}

header {display:flex;
	flex-wrap: nowrap;
	justify-content: flex-end;
}
		
header div {width: 50px;
	height: 50px;
	background: black;
	margin: 2px;}

.links {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	padding-top: 5px;
	padding-bottom: 5px;
	}

.links div {
	width: 150px;
	height: 20px;
	margin: 2px;
	background: black;
}

.hipster {
	overflow: hidden;
	width: 620px;
	height: 300px;
	background-image:url("../images/top-image.png");
	background-repeat: no-repeat;
	background-size: 1100px 700px;
	background-position: 30% 29%;
	border: 5px solid white;
}

.infocube {display: flex;
			flex-direction: row;
			justify-content: space-around;
}

.infocube div {width:200px;
				height:300px;
				background-color: white;
}

.skateboarders {
	postion:relative;
	width:620px;
}

.skateboarders div {
	background: black;
	color:white;
	width:200px;
	height:150px;
	line-height:150px;
	text-align:center;
	float:left;
	border:2px solid white;
	
	
}
.skateboarders div:nth-child(3) {
	clear:left;
	width:400px;
}

.skateboarders div:nth-child(4) {
	width: 200px;
	height: 300px;
	line-height: 300px;
	margin-top: -150px;
}

.skateboarders .arrow {
	width:100px;
	height: 50px;
	line-height: 50px;
	position: absolute;
	top:203px;
	left:-125px;
}

.sk8pics {display: flex;
			flex-direction: row;
			justify-content: space-around;
			clear:both;}
